bibtexparser==1.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
future==0.18.2
idna==2.10
pdfminer.six==20201018
pdftitle==0.8
pycparser==2.20
pyparsing==2.4.7
requests==2.25.1
sortedcontainers==2.3.0
urllib3==1.26.4
